/* --------- mixins --------- */
@mixin roboto($style : jenya) {
	@if $style == jenya {
		font-family: 'RobotoRegular';
	}

	@if $style == light {
		font-family: 'RobotoLight';
	}

	@if $style == black {
		font-family: 'RobotoBlack';
	}

	@if $style == bold {
		font-family: 'RobotoBold';
	}

}

@mixin inlineblock ($valine: top) {
	display: inline-block;
	vertical-align: $valine;
}

@mixin clearfix {
	&:before,
	&:after {
		content: "";
		display: table;
	}

	&:after {
		clear: both;
	}
}

@mixin border-radius($radius: 5px) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;

	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

@mixin box-shadow($string...) {
	-webkit-box-shadow: $string;
	-moz-box-shadow: $string;
	box-shadow: $string;
}

@mixin transition($transition...) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}

@mixin placecolor($color: #000000) {
	&::-webkit-input-placeholder {
		color: $color;
	}
	&:-moz-placeholder {
		color: $color;
	}
	&::-moz-placeholder {
		color: $color;
	}
	&:-ms-input-placeholder {
		color: $color;
	}
}

@mixin around-shadow {
	-webkit-box-shadow: 0px 1px 26px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 26px -2px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 26px -2px rgba(0,0,0,0.75);
}

/* --------- centered --------- */

@mixin absolute-center {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
}

/* --------- compass sprites --------- */

@mixin get-sprite($map, $sprite, $repeat: no-repeat, $height: true, $width: true) {
	$sprite-image: sprite-file($map, $sprite);
	$sprite-map: sprite-url($map);
	$sprite-position: sprite-position($map, $sprite);
	$sprite-layout: smart;

	background: $sprite-map $sprite-position $repeat;

	@if ($height == true) {
		$sprite-height: image-height($sprite-image);
		height: $sprite-height;
	}

	@if ($width == true) {
		$sprite-width: image-width($sprite-image);
		width: $sprite-width;
	}
}

/* --------- responsive mixins --------- */

@mixin desktop {
	@media screen and (max-width: 1200px) {
		@content;
	}
}

@mixin laptop {
	@media screen and (max-width: 992px) {
		@content;
	}
}

@mixin tablets {
	@media screen and (max-width: 768px) {
		@content;
	}
}

@mixin small_tablets {
	@media screen and (max-width: 640px) {
		@content;
	}
}

@mixin phones {
	@media screen and (max-width: 480px) {
		@content;
	}
}

@mixin small_phones {
	@media screen and (max-width: 320px) {
		@content;
	}
}

@mixin main($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

// variable
$outline: 1px solid grey;

// adjustment
* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	font-size: 62.5%;
}

body {
	@include roboto(jenya);
	line-height: 1.6;
}


table {
	border-collapse: collapse;
	border-spacing: 0;
}

ul {
	padding: 0;
	margin: 0;

	li {
		padding: 0;
		margin: 0;
		list-style: none outside none;
	}
}

button, 
button:active, 
button:focus {
    outline: none;
}

input::-webkit-input-placeholder {color:#fff;}
input::-moz-placeholder {color:#fff;}/* Firefox 19 */
input:-moz-placeholder {color:#fff;}/* Firefox 18 */
input:-ms-input-placeholder {color:#fff;}

p {
	padding: 0;
	margin: 0;
}

// base style
.main {
	background-color: #161a24;
	position: relative;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	width: 100%;
}

.row {
	display: flex;
	position: relative;
}

// header area
.header {
	min-height: 115px;
	background-color: #141821;
	.row {
		flex-flow: column;
		align-items: center;
	}
}

.header__logo {
	position: relative;
	height: 40px;
	width: 460px;
	margin-top: 20px;
	margin-bottom: 5px;
}

.header__logo-pic {
	@include absolute-center;
	max-width: 99.9%;
	max-height: 99.9%;
}

.header__menu {
	display: flex;
	flex-flow: row wrap;
}

.header__menu-item {
	font-size: 14px;
	@include roboto(light);
	margin: 0 9px;
}

.header__menu-link {
	color: #e9e9e9;
	display: flex;
	height: inherit;
	&:hover {
		color: #e9e9e9;
		text-decoration: none;
	}
	&:focus {
		color: #e9e9e9;
		text-decoration: none;
		border-bottom: 1px solid #e9e9e9;
	}
}

// price area

.price {
	min-height: 980px;
	& .row {
		flex-flow: column wrap;
		align-items: center;
		padding-top: 35px;
		position: relative;
	}
}

.price__sale-pic {
	position: absolute;
	right: 150px;
	top: 0;
}

.price__pic {
	min-height: 685px;
	width: 550px;
	position: absolute;
	top: -495px;
	left: 20px;
}

.price__pic-item {
	@include absolute-center;
	max-width: 99.9%;
	max-height: 99.9%;
}

.price__list {
	width: 61.5%;
	align-self: flex-end;
	min-height: 535px;
	position: relative;
}

.price__list-item {
	color: #fff;
	font-size: 20px;
	height: 70px;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	@include roboto(light);
	&_pic {
		width: 28px;
		height: 28px;
		margin-right: 20px;
		margin-bottom: -2.5px;
		display: block;
		background: url('../img/elips.png') no-repeat center center/cover;
	}
	&_two {
		padding-left: 35px;
	}
	&_three {
		padding-left: 70px;
	}
	&_four {
		padding-left: 105px;
	}
	&_bottom {
		padding-left: 50px;
	}
	&_old {
		justify-content: center;
		position: relative;
		margin-top: 10px;
		margin-bottom: -30px;
		& .item_old-text {
			@include roboto(jenya);
			position: relative;
			font-size: 24px;
		}
		& .item_old-line {
			position: absolute;
			top: 51%;
			left: -3%;
			width: 105%;
			height: 2px;
			background-color: #fff;
		}
	}
	&_new {
		justify-content: center;
		@include roboto(black);
		font-size: 50px;
		color: #068ad2;
		margin-bottom: 10px;
	}
	&_button {
		margin: 0 auto;
		justify-content: center;
		width: 350px;
		height: 80px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #a90926;
		font-size: 40px;
		@include roboto(light);
		cursor: pointer;
		margin-top: 5px;
		@include around-shadow;
	}
}

.about {
	width: 1040px;
	min-height: 460px;
	background-color: #fff;
	position: relative;
	display: flex;
	flex-flow: row wrap;
	padding: 40px;
}

.about__left {
	width: 47%;
	margin-top: 15%;
}

.about__left-title {
	@include roboto(black);
	font-size: 30px;
	color: #07173f;
	margin-bottom: 10px;
}

.about__left-text {
	@include roboto(light);
	font-size: 16px;
	color: #555;
	line-height: 18px;
}

.about__slider {
	width: 415px;
	margin-left: 65px;
	display: block;
	position: relative;
	overflow: hidden;
	&-item {
		text-align: center;
		margin: 0 auto;
		width: 415px;
	}
}

.owl-theme .owl-dots .owl-dot span {
	width: 25px;
	height: 6px;
	background-color: #adadad;
	border-radius: 0;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background-color: #161b24;
}

.about__slider-pic {
	position: relative;
	display: block;
	min-height: 220px;
	width: 395px;
}

.about__slider-pic_item {
	@include absolute-center;
	max-width: 99.9%;
	max-height: 99.9%;
}

.about__slider-title {
	font-size: 24px;
	margin-top: 5px;
	@include roboto(black);
	color: #4d506d;
	margin-bottom: 5px;
}

.about__slider-text {
	@include roboto(light);
	font-size: 14px;
	color: #666;
}

// advantuges area
.advantuges {
	position: relative;
	& .row {
		display: flex;
		flex-flow: column wrap;
		padding: 0	65px;
	}
}

.advantuges__title {
	text-align: center;
	font-size: 40px;
	@include roboto(bold);
	color: #fff;
	margin-bottom: 45px;
}

.advantuges__bottom {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	position: relative;
}

.advantuges__left {
	width: 320px;
	&-item {

	}
	&-title {
		font-size: 18px;
		color: #79c8c2;
		margin-bottom: 10px;
	}
	&-text {
		font-size: 14px;
		@include roboto(light);
		color: #fff;
		margin-bottom: 65px;
	}
}

.advantuges__right {
	margin-left: auto;
	width: 320px;
	&-item {
	
	}
	&-title {
		font-size: 18px;
		color: #79c8c2;
		margin-bottom: 10px;
	}
	&-text {
		font-size: 14px;
		@include roboto(light);
		color: #fff;
		margin-bottom: 65px;
	}
}

.advantuges__bottom-pic {
	width: 304px;
	height: 532px;
	position: absolute;
	left: 36%;
	top: 25%;
}

// video area
.video {
	position: relative;
	margin-top: -10px;
	& .row {
		display: flex;
		flex-flow: column wrap;
	}
}

.video__item {
	background: url('../img/video-screen.png') no-repeat;
	margin: 0 auto;
	width: 760px;
	height: 405px;
	position: relative;
	margin-bottom: 5px;
	padding: 33px 136.4px;
}

.video__item-show {
	position: absolute;
	width: 493px;
	height: 308px;
}

.video__item-pic {
	position: absolute;
	left: 0px;
	top: -40px;
}

.video__item-text {
	width: 1005px;
	text-align: center;
	margin: 0 auto;
	font-size: 16px;
	color: #8891a4;
	margin-bottom: 38px;
}

// form area
.form {
	& .row {
		padding: 0 65px;
		flex-flow: column wrap;
		align-items: center;
		padding-bottom: 55px;
	}
}

.form__title {
	color: #fff;
	@include roboto(bold);
	font-size: 30px;
	width: 900px;
	margin: 0 auto;
	text-align: center;
	line-height: 53px;
	margin-bottom: 17px;
	&-red {
		color: #c40f2e;
		font-size: 50px;
	}
	&-old {
		font-size: 20px;
		position: relative;
		&_line {
			position: absolute;
			width: 100%;
			left: -3%;
			bottom: 38%;
			height: 1px;
			background-color: #fff;
		}
	}
	&-new {
		color: #068ad2;
		font-size: 50px;
	}
}

.form__text {
	color: #fff;
}

.form__wrap {

}

.footer__form-order {
	display: flex;
	flex-flow: row wrap;
}

.form-group {
	&:last-child {
		display: block;
		width: 100%;
		text-align: center;
	}
}

.footer__form-data {
	width: 300px;
	height: 50px;
	margin: 0 23px;
	@include roboto(light);
	font-size: 16px;
	padding-left: 18px;
}

.footer__form-select {
	width: 300px;
	height: 50px;
	border-radius: 0;
	margin: 0 23px;
	@include roboto(light);
	font-size: 16px;
	padding-left: 18px;
}

.footer__form-button {
	margin-top: 50px;
	width: 300px;
	height: 55px;
	font-size: 30px;
	@include roboto(light);
	@include around-shadow;
	background-color: #a90926;
	border: 0 none;
	color: #fff;
	text-transform: uppercase;
}

// composition 
.composition {
	position: relative;
	& .row {
		padding: 0 65px 60px;
	}
}

.composition__wrap {
	display: flex;
	width: 100%;
	min-height: 1440px;
	background: url('../img/back-compose.png') no-repeat;
	flex-flow: row wrap;
	padding: 40px;
}

.composition__top {
	width: 480px;
}

.composition__top-title {
	font-size: 28px;
	@include roboto(black);
	margin: 13px 0;
	line-height: 40px;
}

.composition__top-list {
	font-size: 16px;
	@include roboto(light);
	&_item {
		line-height: 20px;
	}
}

.composition__center {
	background: url('../img/compos-center.png') no-repeat;
	margin: 6% auto 0;
	position: relative;
	width: 671px;
	height: 488px;
	font-size: 16px;
	@include roboto(light);
	&-one {
		position: absolute;
		left: 0;
		top: 20%;
	}
	&-two {
		position: absolute;
		left: 1%;
		bottom: 37%;
	}
	&-three {
		position: absolute;
		right: -7%;
    top: 50%;
		width: 250px;
	}
	&-four {
		position: absolute;
		right: -6%;
		bottom: 7%;
		width: 200px;
	}
}

.composition__center-pic {
	@include absolute-center;
	max-height: 99.9%;
	max-width: 99.9%;
}

.composition__bottom {
	width: 480px;
	height: 300px;
	margin-left: auto;
	padding-top: 11%;
}

.composition__bottom-title {
	font-size: 28px;
	@include roboto(black);
	margin: 13px 0;
	line-height: 40px;
}

.composition__bottom-text {
	font-size: 16px;
	@include roboto(light);
	line-height: 20px;
}

// slider area
.slider {
	position: relative;
} 

.slider__wrap {
	position: relative;
	display: block;
}

#hero {
  background-color: #888;
  position: relative; }
  #hero .slider-holder {
    position: relative;
    width: 100%;
    display: block;
    max-height: 100vh;
    height: 100vh;
    padding: 40px 0px; }
    #hero .slider-holder .bg-drop {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      opacity: 0.3;
      background-size: cover;
      background-position: center center;
      -webkit-transition: background-image 0.3s ease-in-out;
      -o-transition: background-image 0.3s ease-in-out;
      transition: background-image 0.3s ease-in-out; }
    #hero .slider-holder .owl-carousel {
      height: 100%; }
    #hero .slider-holder .owl-stage-outer, #hero .slider-holder .owl-stage {
      height: 100%; }
    #hero .slider-holder .owl-item {
      height: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      overflow: hidden;
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
      opacity: 0.2;
      -webkit-transition: opacity 0.15s ease-in-out, -webkit-transform 0.5s ease-in-out;
      transition: opacity 0.15s ease-in-out, -webkit-transform 0.5s ease-in-out;
      -o-transition: opacity 0.15s ease-in-out, transform 0.5s ease-in-out;
      transition: opacity 0.15s ease-in-out, transform 0.5s ease-in-out;
      transition: opacity 0.15s ease-in-out, transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out; }
      #hero .slider-holder .owl-item.center {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1; }
      #hero .slider-holder .owl-item > div {
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat; }
    #hero .slider-holder .controls {
      position: absolute;
      width: 100%;
      top: 50%;
      heigth: auto;
      pointer-events: none;
      z-index: 2; }
      #hero .slider-holder .controls .arrow {
        position: absolute;
        -webkit-transform: translateY(-50%) scale(1);
        -ms-transform: translateY(-50%) scale(1);
        transform: translateY(-50%) scale(1);
        -webkit-transition: -webkit-transform 0.1s ease-out;
        transition: -webkit-transform 0.1s ease-out;
        -o-transition: transform 0.1s ease-out;
        transition: transform 0.1s ease-out;
        transition: transform 0.1s ease-out, -webkit-transform 0.1s ease-out; }
        #hero .slider-holder .controls .arrow:hover {
          -webkit-transform: translateY(-50%) scale(1.1);
          -ms-transform: translateY(-50%) scale(1.1);
          transform: translateY(-50%) scale(1.1); }
        #hero .slider-holder .controls .arrow:active {
          -webkit-transform: translateY(-50%) scale(1);
          -ms-transform: translateY(-50%) scale(1);
          transform: translateY(-50%) scale(1); }
        #hero .slider-holder .controls .arrow#left {
          left: 10px;
          pointer-events: auto; }
        #hero .slider-holder .controls .arrow#right {
          right: 10px;
          pointer-events: auto; }

.arrow {
	cursor: pointer;
}

// reviews area
.reviews {
	& .row {
		position: relative;
		display: block;
		// padding: 0 65px 60px;
	}
}

.reviews__title {
	font-size: 40px;
	@include roboto(bold);
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 25px;
}

.colors__gallery-wrap {
	position: relative;
	margin: 0 auto;
	display: block;
	width: 80%;
	@include desktop {
		width: 100%;
	}
	@include laptop {
		width: 70%;
	}
	@include tablets {
		width: 80%;
	}
	@include phones {
		width: 90%;
	}
}

.colors__navs {
	display: none;
	@include laptop {
    display: block;
    position: absolute;
    height: 24px;
    left: -3%;
    bottom: 55%;
    width: 106%;
		.owl-next {
			position: absolute;
			z-index: 1;
			right: 0;
			width: 14px;
			height: 100%;
			opacity: 0;
			cursor: pointer;
		}
		.owl-prev {
			position: absolute;
			z-index: 1;
			left: 0;
			width: 14px;
			height: 100%;
			opacity: 0;
			cursor: pointer;
		}
	}
}

.colors__navs-left {
	position: absolute;
	background: url('../img/sprite-nav.png') no-repeat top left;
	height: 24px;
	width: 14px;
	left: 0;
	top: 0;
	cursor: pointer;
}

.colors__navs-right {
	position: absolute;
	background: url('../img/sprite-nav.png') no-repeat top right;
	height: 24px;
	width: 14px;
	right: 0;
	top: 0;
	cursor: pointer;
}

.colors__gallery-item {
	display: inline-block;
}

.colors__gallery-pic {
	margin: 0 38%;
	height: 90px;
	width: 90px;
	position: relative;
}

.colors__gallery-pic_item {
	@include absolute-center;
	max-width: 99%;
	max-height: 99%;
}

.colors__gallery-text {
	width: 306px;
	height: 245px;
	padding: 32px 32px 30px;
	font-size: 14px;
	@include roboto(light);
	margin-top: 25px;
	background: url('../img/back-rev.png') no-repeat center center/cover;
	margin-bottom: 30px;
	position: relative;
	&_name {
		font-size: 16px;
		@include roboto(bold);
		position: absolute;
		right: 6%;
		bottom: 10%;
	}
}

// work area
.work {
	min-height: 1220px;
	background: url('../img/footer-back.png') no-repeat center center/cover;
	& .row {
		flex-flow: column wrap;
		padding: 0 65px 60px;
	}
}

.work__title {
	@include roboto(bold);
	font-size: 40px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}

.work__content {
	display: flex;
	flex-flow: row wrap;
	padding: 0 27px;
	position: relative;
}

.work__content-item {
	width: 386px;
	height: 114px;
	
	position: relative;
	&_one {
		background: url('../img/work-one.png') no-repeat center center/cover;
		margin-bottom: 30px;
	}
	&_two {
		background: url('../img/work-two.png') no-repeat center center/cover;
		margin-bottom: 30px;
		margin-left: auto;
	}
	&_three {
		background: url('../img/work-three.png') no-repeat center center/cover;
	}
	&_four {
		background: url('../img/work-four.png') no-repeat center center/cover;
		margin-left: auto;
	}
}

.work__content-text {
	position: absolute;
	@include roboto(light);
	font-size: 20px;
	width: 185px;
	right: 5%;
	top: 24%;
	line-height: 25px;
}

// form bottom area
.form__bottom {
	margin-top: 283px;
	& .form__title {
		margin-bottom: 60px;
	}
	& .form__title-old {
		color: #010101;
		&_line {
			background-color: #010101;
		}
	}
}





.empty {
	height: 80px;
	margin-top: -80px;
}
// section footer
.footer {
	position: relative;
	margin-top: -80px;
	min-height: 80px;
	background-color: transparent;
	font-size: 14px;
	color: #101010;
	.row {
		color: #cecece;
		font-size: 12px;
		@include roboto(light);
		flex-flow: column wrap;
		padding: 10px 65px;
	}
}

.footer__politics {

}

.footer__copy {

}

.footer__addres {

}